body {



ul {
	border-bottom: 1px solid #888;
	float: left;
	width: 100%;
	padding-left: 0px;
}

ul li {
	float: left;
	margin-right: 0px;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	background-color: #ccc;
	color: #000;
	padding: 5px 10px;
	border: 1px solid #888;
	position: relative;
	top: 1px;
}

ul a:hover {
	background-color: #fff;
	border-bottom-color: #fff;
}


	margin: 0;	padding: 0;/* background-image: url(../images/background.jpg); */	
background-repeat: repeat;}.clear {clear:both;}


#container {	width: 800px;	margin: -15px auto;
	padding: 0;	border: 1px solid #959595;	}
	
	#container2 {	width: 800px;
	margin: 10px auto;	padding: 0;	border: 5px solid #959595;	background-color: #FFFFFF;	
 background-image: url(../images/content_pic01.jpg);	background-repeat: no-repeat;	
	background-position: top left;}#container4 {	width: 800px;	margin: 10px auto;	padding: 0;	border: 1px solid #959595;	
	background-color: #FFFFFF;	background-image: url(../images/content_pic02.jpg);	background-repeat: no-repeat;	
	background-position: left top;}/* THIS BACKGROUND IMAGE IS 6000PX HIGH AND SHOULD NOT LEAVE ANY WHITE SPACE ON THE LEFT COLUMN-TO USE THIS CHANGE 
	THE CONTAINER TO #6 */#container6 {	width: 800px;	margin: 10px auto;	
padding: 0;	border: 1px solid #959595;	background-color: #FFFFFF;	background-image: url(../images/content_pic06.jpg);	
background-repeat: no-repeat;	background-position: left top;}#container3 {	width: 800px;	margin: 10px auto;	
padding: 0;	border: 1px solid #959595;}


#header {	width: 100%;	height: 302px;	/*background-color:#d6d6d6;	*/
	/*background-image: url(../images/Header_bckgrnd.gif);	background-repeat: repeat-x;
	background-position: bottom center;*/}
	
	
	
	
	.header_bg {	width: 100%;	height: 101px;
	background-repeat: no-repeat;	background-position: top center;}
	.header_logo {padding:6px 0 0 6px;float:right;display:inline-block;}
	
	.header_logo2 {padding:0px 0 0 0px;float:left;display:inline;}
	//.header_tag {padding: 33px 0 0 111px;float:left;display:block;}
	.header_telefon {	
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 28px;
		color: #000000;	float:left;	padding: 5px 0 0 120px;}
	.header_telefon a {	color: #000000;	text-decoration: none;}
	.header_telefon a:visited {	color: #365178;	text-decoration: underline;}.header_telefon a:hover {	color: #BCA634;	text-decoration: underline;}
	.header_search {	float:right;	padding: 3px 3px 0 0;}#navcontainer {	/*text-align: center;*/}
	
	
	
	
	#nav1 {	
	
	background-color: #5CB3FF;
	width: 69%;	
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 14px;	font-weight:bold;	color: #17375E;	
		float:left;
	padding: 7px 0px 7px 30px;
	margin-top:-290px;
	margin-left:105px;
	border-top: 3px solid #204170; 
	border-bottom: 3px solid #204170;
	border-right: 3px solid #204170; 
	border-left: 3px solid #204170;}
	
	
	
	#nav1 a {	text-decoration: none;	color: #17375E; } #nav1 a:visited {	text-decoration: none;	color:  #17375E;}#nav1 a:hover {
		text-decoration: none;	color: #FFFFFF;}
		
		
		
		

		
		#nav2 {	background-color: #41627E;
		border-bottom:0px solid #FFFFFF; }
		
		#nav2 ul {	list-style-type: none;	width: 800px;	
			text-align: center;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px; line-height:14px;	
		font-weight: bold;	float: right;}
		#nav2 ul li {	display: inline;	margin:0px;	padding:0;}
		
		
		#nav2 ul li a {	
		background-color: #5CB3FF;	height:36px; width:13.4%; color: #17375E;	text-decoration: none;	padding: 10px 10px;
		float: right; 
		border-right: 5.44px solid #fff;
		border-bottom: none;}
		
		
		#nav2 ul li a:hover {	background-color: #17375E;	color: #fff;}
		
		#nav2 ul li.noline a, #nav2 ul li.noline a:visited {
			border: none;}
			
#nav2 ul li.nolineon a, #nav2 ul li.nolineon a:visited {	background-color: #184071;	color: #fff;	text-decoration: none;
			padding: 6px 10px;	float: left;	border: none;}
			
			
			#nav2 ul li.on {	background-color: #184071;	color: #fff;	text-decoration: none;
			padding: 6px 10px;	float: left;	border-right: 3px solid #fff;	border-bottom: none;}#nav2 ul li.nolineon {	background-color: #184071;
			color: #fff;	text-decoration: none;	padding: 6px 10px;	float: left;	border: none;}
			
			
#content {	padding: 10px 22px;	margin-bottom: 10px;
			font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #585858;	line-height: 15px;	clear: both;}#content a {	
			text-decoration: underline;	color: #365178;}#content a:visited {	text-decoration: underline;	color: #365178;}#content a:hover {
				text-decoration: underline;	color: #BCA634;}#content2 {	padding:0;	margin: 0;	font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;	color: #585858;	line-height: 15px;	clear:both;}
				
				
				.topleft {	padding-bottom:0px; width: 47%;	height:180px; float: left;	padding-right: 11px;	margin: 0 0 30px 0;}
				.topleft li {	padding: 0px 0px 0px 0px; 
				list-style-type: disc;	list-style-position: outside;	margin-bottom: 0px;	margin-top: 0;	margin-right: 0;	margin-left: 11px;}
				
				.topright {	padding-bottom:0px; width: 47%;	height:180px; float: left;	padding-left: 11px;	margin: 0 0 30px 0;}
				
				.bottom {	width: 171px;
				float: left;	padding: 11px 4px;	margin: 0 10px 20px 0; line-height: 17px;}
				.bottom ul {	padding: 0px 0px 0px 0px;
				list-style-type: disc;	list-style-position: outside;	margin-bottom: 5px;	margin-top: 0;	margin-right: 0;	margin-left: 0;}
				.bottom li {	padding: 0px 0px 0px 0px; 
				list-style-type: disc;	list-style-position: outside;	margin-bottom: 0px;	margin-top: 0;	margin-right: 0;	margin-left: 0px;}
				
				
				.bottom2 {
					width: 171px;	float: right;	/*background-color: #00FF00;*/	padding: 1px 5px;	margin: 0 0 20px 0;}
					
					#footer {	margin: 0;
					padding:  4px 0;	background-color: #5CB3FF;	clear: both;	text-align: center;	font-family: Verdana, Arial, Helvetica, sans-serif;
					font-size: 9px;	color: #000000;}#footer a {	color: #17375E;	text-decoration: underline;}#footer a:visited {	color: #D9C261;
					text-decoration: underline;}#footer a:hover {	color: #BCA634;	text-decoration: underline;}h1, h2 {	color: #365178;	
					font-family: Georgia, "Times New Roman", Times, serif;	font-size: 15px;	font-weight: bold;	border-bottom-width: 2px;
					border-bottom-style: solid;	border-bottom-color: 99FFFF;	padding-bottom: 8px;	margin: 8px 0 6px 0;}h2.internal {	
					font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;	font-weight:normal;	padding: 6px 0 6px 0;	
					border-bottom-width: 2px;	border-bottom-style: solid;	border-bottom-color: #41627E;	margin: 0;}h1.internal {	
					color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 15px;	font-weight: bold;	
					padding: 18px 0 18px 18px;	margin: 0;	background: url(../images/H1-pagetitle-bg.jpg) repeat-x left top;	
					border-bottom: none;}h1.benefitsheader {	color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;
					font-size: 22px;	font-weight: bold;	line-height: 1.2em;/*	height: 51px;	text-indent: -5000px;	
					background: url(../images/header_benefits.gif);	background-repeat: no-repeat;	padding: 0;	margin: 0;	border-bottom: none; */}
					h3 {	color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 13px;	font-weight: bold;	margin: 0;
					border-bottom: none;	padding: 11px 0 0 18px;}h4 {	color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;
					font-size: 12px;	font-weight: bold;	margin: 0;	border-bottom: none;	padding: 11px 0 0 18px;}.bold {	font-family: Verdana,
					Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;	color: #000;}#left {	width: 170px;	float: left;
					margin: 0;	padding:0;}#left img{	margin: 0;	padding:0;}#benefits {	font-family: Verdana, Arial, Helvetica, sans-serif;	
					font-size: 11px;	color: #585858;	line-height: 15px;}#benefits a {	text-decoration: underline;	color: #365178;}
					#benefits a:visited {	text-decoration: underline;	color: #365178;}#benefits a:hover {	text-decoration: underline;	
					color: #BCA634;}#benefits p {	padding: 6px 0 6px 0;	margin: 8px 0 8px 0;}#benefits_content_container {	width: 561px;
					margin: 20px;	text-align: left;}benefits_header {	height:51px;	text-indent: -5000px;	
					background: url(../images/header_benefits.gif);	}#benefitslistcontainer {	width: 561px;	display: inline;
					color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 13px;	
					clear:both;}#benefitslistcontainer a {	color: #365178;	font-family: Georgia, "Times New Roman", Times, serif;
					font-size: 15px;}#list1 {	width: 280px;	padding: 0;	float: left;}#list1 ul {	
					list-style-image: url(../images/bullet-benefits.gif);}#list1 li {	padding-bottom: 4px;}#list2 {
						width: 280px;	padding: 0;	float: right;}#list2 ul {	list-style-image: url(../images/bullet-benefits.gif);}#list2 li {
							padding-bottom: 4px;}#anchors {	margin-top: 120px;}#right {	width: 628px;	float: left;	border-left-width: 2px;
							border-left-style: solid;	border-left-color: #BCA634;	margin:0;	padding:0;}#right a {	text-decoration: underline;
							color: #365178;}#right a:visited {	text-decoration: underline;	color: #365178;}#right a:hover {	text-decoration: underline;
							color: #BCA634;}#right p {	padding: 0 20px 0 18px;	margin: 8px 0 8px 0;}div#right  {	padding: 0;	margin: 0;}#right ul {
								margin-top: 0;	margin-bottom: 0;	padding-right: 20px;}#right ul li {	margin-bottom: 4px;}#right ul.sitemap 
								{	margin-top: 0;	margin-bottom: 0;	padding-right: 20px;	list-style-type: none;}.secondnav {	color: #000;
								padding: 6px 0 0 10px;	margin: 0;}.secondnav ul {	padding: 8px 0 0 16px;	margin: 0;}#tutorialnav {	width:159px;
								padding:0 0 0 10px;	text-decoration: none;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;
								color: #FFF;			list-style-type: none;	line-height: 18px;	}ul#tutorialnav {padding:0 0 0 5px;margin:0;	
								}#tutorialnav a {	text-decoration: none;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;
								font-weight:bold;	color: #D9C261;	width:100%;	display:block;	padding:3px 0;	margin: 1px 0;}#tutorialnav a:hover {
									text-decoration: none;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;		
									color: #183052;	background-color:#A98A04;		display:block;	width:100%;	padding:3px 0;}#tutorialnav a.visited {
										text-decoration: none;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;	
										color: #5a84ad;	}#tutorialnav a.active {	text-decoration: none;	font-family: Verdana, Arial, 
										Helvetica, sans-serif;	font-size: 10px;	color: #000000;	}#pullquote  {		padding: 10px;	
										width: 145px;	text-decoration: none;	font-family: Georgia, "Times New Roman", serif;	font-size: 14px;
										font-style: italic;	color: #5a84ad;	line-height: 2;		color:#D9C261;}#pullquotesix  {		margin: 6px;
										text-decoration: none;	font-family: Georgia, "Times New Roman", serif;	font-size: 14px;	font-style:
										italic;	color: #5a84ad;	line-height: 2;	}.libreak {	list-style: none;	padding-top: 4px;	padding-bottom: 4px;
										line-height: 10px;		margin: 0;	}.libreakactive {	list-style: none;	padding-top: 4px;	padding-bottom: 4px;
										line-height: 10px;		margin: 0;		color: #000000;	}.breadcrumbs {	color: #365178;	font-family: Verdana,
										Arial, Helvetica, sans-serif;	font-size: 10px;	text-align: left;	border-bottom-width: 2px;	
										border-bottom-style: solid;	border-bottom-color: #BCA634;	padding: 6px 0 6px 18px;	margin: 0;}
										.breadcrumbs a {	color: #365178;	text-decoration: none;}.breadcrumbs a:visited {	color: #365178;	
										text-decoration: none;}.breadcrumbs a:hover {	color: #BCA634;	text-decoration: none;}/*#ol.li {
											padding:5}*/.karta {clear: both;}.footerlink {	color: #1B4073;}.topleftnew {	width: 500px;
											float: left;	padding-right: 11px;	margin: 0 0 20px 0;}.toprightnew {	width: 210px;
											float: right;	padding-right: 11px;	margin: 0 0 20px 0;}.bottom3 {	width: 171px;	
											float: left;	/*background-color: #00FF00;*/	padding: 1px 5px;	margin: 0 10px 20px 0;
											margin-left: 33px;	margin-right: 33px}.middleleftnew {	width: 171px;	float: left;
											/*background-color: #00FF00;*/	padding: 1px 5px;	margin: 0 10px 20px 0;	margin-left: 33px;	
											margin-right: 33px}.karta2 {width: 425px;padding: 50px 0px 0px 33px;}.bottom4 {	width: 400px;	
											float: none;	padding-right: 11px;	margin: 0 0 20px 200px;}.quotes {	font-size: 22px;	
											line-height:12px;}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
	
	
	
	
	